/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option{
  border-right-width: 2px;
}
.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option{
  border-right-width: 2px;
}
/* reset */

.side-navigation-panel{
  width: 25%;
  max-width: 250px;
  float: left;
}
h2{
  font-size: 32px;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* general */

body {
  font-family: "Roboto", sans-serif;
}

.register_section form, .login_section form{
  padding: 2rem;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;}


/* header */

#header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a73e8;
}
#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #ffffff;
}
#header .auth-options {
  height: 100%;
  display: flex;
}
#header .auth-options button {
  padding: 0 1rem;
  background-color: #1a73e8;
  color: #ffffff;
  font-size: 1.1rem;
}
#header .auth-options button:hover {
  background-color: #be3a3a;
}

/* form */

.form label,
.form input {
  display: block;
}
.form input {
  margin-bottom: 1rem;
}
.form label {
  margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  background-color: #f0f0f0;
  font-size: 1rem;
}
.form input:focus {
  border: 1px solid #50a4e9;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
  outline: none;
}
.form input[type="submit"], #submit {
  padding: 0.3rem 0.5rem;
  border: 1px solid;
  background-color: #c93562;
  color:#FFF;
  font-size: 1rem;
  width: 100%;
  margin-top: 50px;
}


/* error notice */

.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}
.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1a73e8;
  color: #ffffff;
}

/* media queries */

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }
  #header .auth-options button {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}

/* dashboard */
.navbar_container{
  width: 30%;
  float: left;
}

.dashboard_content{
  width: 70%;
  float: right;
}

span.nav-link.cursor-pointer {
  font-weight: 600;
  color: cadetblue;
}

.custom-control.custom-checkbox{
  display: flex;
}
input#customCheck1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}